<!DOCTYPE html>

<html ng-app="quranApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Quran App</title>

    <link rel="stylesheet" href="css/quranApp.css">
    <link rel="stylesheet" href="css/quranApp-theme.css">
    <script src="js/lib/jquery-1.11.1.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script src="js/lib/angular-touch.js"></script>
    <script src="js/quranApp.js"></script>
    <script src="js/controllers/pageController.js"></script>
</head>

<body ng-controller="pageController" ng-swipe-right="nextPage()" ng-swipe-left="prevPage()">

<div class="leaflet">
    <!-- previous is actually next page in RTL language -->
    <div class="previous">
        <a href="#" ng-click="nextPage()">
            <span class="glyphicon glyphicon-chevron-left" style="font-size:48px;"></span>
        </a>
    </div>

    <div class="pcontent">
        <img ng-repeat="page in pages" ng-hide="!isCurrentPage($index)" ng-src="{{page.image}}"/>
    </div>

    <!-- next is actually previous page in RTL language -->
    <div class="next">
        <a href="#" ng-click="prevPage()">
            <span class="glyphicon glyphicon-chevron-right" style="font-size:48px;"></span>
        </a>
    </div>
</div>

</body>

</html>