<!DOCTYPE html>

<html ng-app="quranApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Quran App</title>

    <link rel="stylesheet" href="css/quranApp.css">
    <link rel="stylesheet" href="css/quranApp-theme.css">
    <script src="js/lib/jquery-1.11.1.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-animate.js"></script>
    <script src="js/lib/angular-touch.js"></script>
    <script src="js/quranApp.js"></script>
    <script src="js/data/page.js"></script>
    <script src="js/directives/image.js"></script>
    <script src="js/controllers/pageController.js"></script>
</head>

<body ng-controller="pageController" ng-swipe-right="nextPage()" ng-swipe-left="prevPage()">

<div class="leaflet" ng-style="{ 'width' : (dimension.lnavwidth + dimension.width + dimension.rnavwidth), 'height' : (dimension.height + dimension.topoutline + dimension.bottomoutline) }">
    <div class="top-bar" ng-style="{ 'width' : (dimension.lnavwidth + dimension.width + dimension.rnavwidth), 'height' : dimension.lnavwidth }">
        <!-- top left corner -->
        <div class="top-left-corner" ng-style="{ 'width' : dimension.lnavwidth, 'height' : dimension.lnavwidth }">
        </div>

        <!-- top page outline -->
        <div class="top-outline" ng-style="{ 'width' : dimension.width, 'height' : dimension.bottomoutline}">
        </div>

        <div class="top-right-corner" ng-style="{ 'width': dimension.rnavwidth, 'height' : dimension.rnavwidth }">

        </div>
    </div>

    <div class="middle-bar">
        <!-- previous is actually next page in RTL language -->
        <div class="previous" ng-style="{ 'width' : dimension.lnavwidth, 'height' : dimension.height }">
            <a href="#" ng-style="{ 'width' : dimension.lnavwidth, 'height' : dimension.height }" ng-click="nextPage()">
                <span class="middle-navigation" ng-style="{ 'font-size' : dimension.lnavwidth, 'width' : dimension.lnavwidth, 'height' : dimension.height}"></span>
            </a>
        </div>

        <div class="pcontent" ng-style="{'width' : dimension.width, 'height' : dimension.height }">
            <img ng-style="{ 'width' : dimension.width, 'height' : dimension.height}" ng-repeat="page in pages" ng-hide="!isCurrentPage($index)" ng-src="{{page.image}}"/>
        </div>

        <!-- next is actually previous page in RTL language -->
        <div class="next" ng-style="{ 'width' : dimension.rnavwidth, 'height' : dimension.height }">
            <a href="#" ng-click="prevPage()">
                <span class="right-navigation" ng-style="{ 'font-size' : dimension.lnavwidth, 'width' : dimension.lnavwidth, 'height' : dimension.height}"></span>
            </a>
        </div>
    </div>

    <div class="bottom-bar">
        <!-- bottom left corner -->
        <div class="bottom-left-corner" ng-style="{ 'width': dimension.lnavwidth, 'height' : dimension.lnavwidth }">

        </div>

        <!-- bottom page outline -->
        <div class="bottom-outline" ng-style="{ 'width' : dimension.width, 'height' : dimension.bottomoutline}">

        </div>

        <!-- bottom right corner -->
        <div class="bottom-right-corner" ng-style="{ 'width': dimension.rnavwidth, 'height' : dimension.rnavwidth }">

        </div>
    </div>
</div>

</body>

</html>
