html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.next {
    position: relative;
    float: left;
    display: inline-block;
}
.next > a {
    position: relative;
    float: right;
    text-align: right;
}
.previous {
    position: relative;
    float: left;
    display: inline-block;
}
.previous > a {
    position: relative;
    float: left;
    text-align: left;
}
.leaflet {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
}
.pcontent {
    position: relative;
    float: left;
}
.glyph {
    display: none;
}
.glyph-group {
    display: none;
}
.right-navigation {
    background-image: url('/apps/images/book-edge-right.png');
    float: right;
}
.middle-navigation {
    background-image: url('/apps/images/book-edge-middle.png');
    float: left;
}
.top-bar {
}
.middle-bar {
}
.bottom-bar {
}
.top-outline {
    background-image: url('/apps/images/top-outline.png');
    float: left;
}
.bottom-outline {
    background-image: url('/apps/images/bottom-outline.png');
    float: left;
}
.top-left-corner {
    float: left;
    background-image: url('/apps/images/top-left-corner.png');
}
.top-right-corner {
    background-image: url('/apps/images/top-right-corner.png');
    background-repeat: no-repeat;
    float: right;
}
.bottom-left-corner {
    float: left;
    background-image: url('/apps/images/bottom-left-corner.png');
}
.bottom-right-corner {
    background-image: url('/apps/images/bottom-right-corner.png');
    background-repeat: no-repeat;
    float: right;
}