html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.next {
    position: relative;
    float: left;
    display: inline-block;
    border: 1px solid;
}
.next > a {
    position: relative;
    border: 1px solid;
    float: right;
    text-align: right;
}
.previous {
    position: relative;
    float: left;
    display: inline-block;
    border: 1px solid;
}
.previous > a {
    position: relative;
    border: 1px solid;
    float: left;
    text-align: left;
}
.leaflet {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
    border: 1px solid;
}
.pcontent {
    position: relative;
    float: left;
    border: 1px solid;
}
.glyph {
    display: none;
}
.glyph-group {
    display: none;
}
.right-navigation {
    display: inline-block;
    background-image: url('/apps/images/book-edge-right.png');
}
.middle-navigation {
    display: inline-block;
    background-image: url('/apps/images/book-edge-middle.png');
}