html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
}
.leaflet {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
}
.pcontent {
    float: left;
}
.glyph {
    display: none;
}
.glyph-group {
    display: none;
}
.right-navigation-odd {
    background-image: url('/apps/images/book-edge-right-odd.png');
    float: right;
    cursor: pointer;
}
.middle-navigation-odd {
    background-image: url('/apps/images/book-edge-middle-odd.png');
    float: left;
    cursor: pointer;
}
.right-navigation-even {
    background-image: url('/apps/images/book-edge-right-even.png');
    float: right;
    cursor: pointer;
}
.middle-navigation-even {
    background-image: url('/apps/images/book-edge-middle-even.png');
    float: left;
    cursor: pointer;
}
.top-bar {
    float: left;
}
.middle-bar {
    clear: both;
    margin: 0 auto;
    overflow: hidden;
}
.bottom-bar {
}
.top-outline {
    background-image: url('/apps/images/top-outline.png');
    float: left;
}
.bottom-outline {
    background-image: url('/apps/images/bottom-outline.png');
    float: left;
    text-align: center;
}
.top-left-corner-odd {
    float: left;
    background-image: url('/apps/images/top-left-corner-odd.png');
    cursor: pointer;
}
.top-left-corner-even {
    float: left;
    background-image: url('/apps/images/top-left-corner-even.png');
    cursor: pointer;
}
.top-right-corner-odd {
    background-image: url('/apps/images/top-right-corner-odd.png');
    background-repeat: no-repeat;
    float: right;
}
.top-right-corner-even {
    background-image: url('/apps/images/top-right-corner-even.png');
    background-repeat: no-repeat;
    float: right;
}
.bottom-left-corner-odd {
    float: left;
    background-image: url('/apps/images/bottom-left-corner-odd.png');
}
.bottom-left-corner-even {
    float: left;
    background-image: url('/apps/images/bottom-left-corner-even.png');
}
.bottom-right-corner-odd {
    background-image: url('/apps/images/bottom-right-corner-odd.png');
    background-repeat: no-repeat;
    float: right;
}
.bottom-right-corner-even {
    background-image: url('/apps/images/bottom-right-corner-even.png');
    background-repeat: no-repeat;
    float: right;
}
.page-number {
    display: block;
    position: relative;
    bottom: 10px;
}
.page-number-input {
    display: inline;
    position: relative;
    bottom: 15px;
    text-align: right;
    border: 0px;
    font-size: 10px;
    float: left;
}
.surah-number-input {
    display: inline;
    position: relative;
    bottom: 15px;
    text-align: right;
    border: 0px;
    font-size: 10px;
    float: left;
}
.juz-number-input {
    display: inline;
    position: relative;
    bottom: 15px;
    text-align: center;
    border: 0px;
    font-size: 10px;
    float: right;
}
